<body>
	<div id="container">
	   <header>Become a Member</header>
	   <form method="post">
		  <fieldset>
			 <br/>
			 <input type="text" name="username" id="username" placeholder="Full Name" [(ngModel)]="name" required autofocus>
			 <br/><br/>
			 <input type="email" name="email" id="email" placeholder="E-mail" [(ngModel)]="mail" required>
			 <br/><br/>
			 <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password" required>
			 <br/><br/>
			 <input type="number" name="Mobile" id="confirm-password" placeholder="Mobile Number" [(ngModel)]="mobile" required><br/><br/><br/>
			 <button (click)="Register()" style="width: 214px;height: 34px;background-color: #FF0000;color: white;">REGISTER</button>
		  </fieldset>
	   </form>
	</div>
 </body>