html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // background: url("https://images.unsplash.com/photo-1485802007047-7774de7208e5?dpr=1&auto=compress,format&fit=crop&w=1800&h") no-repeat center center fixed;
  font-family: 'Droid Serif', serif;
  background: #37393b url('/assets/wp-content/uploads/sites/60/2022/03/b-sh1.png') 50%;
  // background-image: linear-gradient(to right, url('/assets/wp-content/uploads/sites/60/2022/03/b-sh1.png') 50%),
  //   linear-gradient(to left, url('/assets/wp-content/uploads/sites/60/2022/03/b-sh2.png') 50%);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

@media screen and (max-width: 481px) {
  #container {
    height: 52% !important;
  }
}

@media screen and (min-width: 481px) {
  #container {
    height: 76% !important;
  }
}

#Login {
  height: 320px;
  width: 340px;
  background: rgba(3, 3, 55, 0.5);
  width: 18.75rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


#container {
  background: rgba(3, 3, 55, 0.5);
  width: 18.75rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  height: 3rem;
  background: rgba(3, 3, 55, 0.7);
  font-size: 1.4rem;
  color: #d3d3d3;
}

fieldset {
  border: 0;
  text-align: center;
}

input[type="submit"] {
  background: rgba(235, 30, 54, 1);
  border: 0;
  display: block;
  width: 70%;
  margin: 0 auto;
  color: white;
  padding: 0.7rem;
  cursor: pointer;
}

input {
  background: transparent;
  border: 0;
  border-left: 4px solid;
  border-color: #FF0000;
  padding: 10px;
  color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: 0;
  background: rgba(235, 30, 54, 0.3);
  border-radius: 1.2rem;
  border-color: transparent;
}

::placeholder {
  color: #d3d3d3;
}

/*Media queries */

@media all and (min-width: 481px) and (max-width: 568px) {
  #container {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

@media all and (min-width: 569px) and (max-width: 768px) {
  #container {
    margin-top: 5%;
    margin-bottom: 5%;
  }

}

.otp-field {
  flex-direction: row;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}

.otp-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
  display: none;
}

.resend {
  font-size: 12px;

  a {
    color: #FF0000 !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
  font-size: 12px;
  text-align: right;
  font-family: monospace;
}

.footer a {
  color: black;
  text-decoration: none;
}

.OTP {
  width: 360px;
  height: 300px;
  position: relative;
  background: rgba(3, 3, 55, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.innerPart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.verify {
  padding: 6px 20px;
  margin-top: 35px;
  border-radius: 4px;
  color: white;
  background-color: #FF0000;
}

.timer {
  position: absolute;
  top: 12px;
  right: 24px;
  color: orangered;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  p {
    color: white;
    font-weight: bold;
  }
}